.wrap{
  padding-bottom: 80px;
}

.main{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--content-background-color);
}

.content{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
  margin-bottom: 1.5rem;
}

.contentTitle{
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.contentLink{
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.contentImg{
  width:100%;
  object-fit:cover;
  border-radius: var(--border-radius);
}