.main{
  width:100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom:1000px;
}

.commentContainer{
  padding-left: 1.5rem;
  background-color: grey;
}

.commentUserInfo{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.commentUserInfo img{
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.commentUserInfo span{
  font-size: 1.5rem;
  font-weight: bold;
}

.commentContent{
  padding-left: 40px;
}

.submitComment{
  position:fixed;
  left: 0;
  bottom: 1rem;
  width:100%;
  margin-top: 1rem;
  padding-left:1rem;
  padding-right:1rem;
}

.form{
  display: flex;
  width:100%;
  justify-content: space-between;
  background-color: var(--content-background-color);
  border-radius: var(--border-radius);
}

.form input{
  width:90%;
  padding: 0.5rem 1rem;
  outline: none;
}

.form button{
  width:10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

