.loading{
  background-color: white;
  z-index:9999;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingContent{
  background-color: white;
  z-index:9999;
  position:relative;
  top:0;
  left:0;
  right:0;
  bottom:0;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}

.path3{
  animation: movePath3 0.4s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
}

.path4{
  animation: movePath4 0.4s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-delay: 0.25s;
}

@keyframes movePath3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(24px);
  }
}

@keyframes movePath4 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(24px);
  }
}