.content{
  width:100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index:9999;
  background-color: white;
}

.main{
  flex-grow: 1;
  padding-left:1.5rem;
  padding-right:1.5rem;
}

.title{
  padding-top:1rem;
}

.title h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.form{
  padding-top: 3.25rem;
}

.formContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.formContentBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--content-background-color);
  border: 2px solid var(--content-border-color);
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  padding-right: 1rem;
}

.wrong{
  border-color: var(--negative-color);
}

.formInput{
  width:calc(100% - 64px);
  padding-left: 1rem;
  padding-top:12px;
  padding-bottom:12px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  outline: none;
}

.buttonContent{
  background-color: var(--fluent-background-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-color);
}

.buttonContent button{
  width:100%;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: var(--border-radius);
}

.form label {
  display: inline-block;
  text-indent: -9999px;
}

.or{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:30px;
  margin-top:20px;
  margin-bottom:20px;
  background-color: white;
}

.or div{
  width:40%;
  height: 2px;
  background-color: var(--content-border-color);
}

.or span{
  font-size: 1.5rem;
  color: var(--content-border-color)
}

.externalLink{
  display: flex;
  justify-content: space-between;
}

.externalButton{
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color:var(--content-border-color);
  padding-top:12px;
  padding-bottom:12px;
  background-color: var(--content-background-color);
  border-radius: var(--border-radius);
  border: 2px solid var(--content-border-color)
}

.show{
  width: 2rem;
  height: 2rem;
}