.bar{
  position:relative;
  width: 100%;
  height:1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--content-background-color);
}

.progress{
  position:absolute;
  height:1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}