.commentContainer{
  background-color: white;
  position: relative;
  padding-left: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.commentUserInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.commentProfile{
  display: flex;
  align-items: center;
}

.commentProfile img{
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.userInfoDetail{
  display: flex;
  flex-direction: column;
  align-items:start;
}

.userName{
  font-size: 1.5rem;
  font-weight: bold;
}

.timeToNow{
  font-size: 0.5rem;
}

.commentProfile{
  display: flex;
}

.commentContent{
  padding-left: 40px;
  position: relative;
}

.commentContent p{
  display: block;
  width:90%;
  word-break: break-word;
}

.commentFunctions{
  position:absolute;
  top:1.5rem;
  right:0;
}

.commentFunction{
  width:32px;
  height:32px;
}

.commentDropdown{
  display: block;
  position:absolute;
  background-color: white;
  border: 1px solid var(--content-border-color);
  width:240px;
  right:10px;
  top:0;
  cursor: pointer;
}

.commentDropdownList li{
  text-align: center;
  line-height: 48px;
  height:48px;
}

.commentDropdownList li:hover{
  background-color: var(--content-background-color);
}