.post{
  position:relative;
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.contentLink{
  display: block;
  width:90%;
  cursor: pointer;
  margin-bottom: 2rem;
}

.userInfo{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.userImg{
  width:32px;
  height:32px;
  background-color: gray;
  border-radius: 100%;
}

.userName{
  margin-left: 0.5rem;
  font-size:1.5rem;
  font-weight: bold;
}

.question{
  width:100%;
  margin-bottom: 2rem;
}

.question p{
  width:100%;
  overflow-wrap:break-word;
  word-break: break-word;
}

.subscribe{
  display: flex;
}

.subscribeButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height:64px;
  width:50%;
}

.subscribeDetailLink{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.subscribeButton Img{
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.likeCount{
  color: var(--content-border-color);
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right:0.25rem;
}

.likeCountActive{
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right:0.25rem;
}

.commentCount{
  color: var(--content-border-color);
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.functions{
  position:absolute;
  right:0;
  top:1.5rem;
}

.functions button{
  height:32px;
  width:32px;
}

.dropdown{
  display: block;
  position:absolute;
  background-color: white;
  border: 1px solid var(--content-border-color);
  width:240px;
  right:0;
  top:0;
  cursor: pointer;
}

.dropdownList li{
  text-align: center;
  line-height: 48px;
  height:48px;
}

.dropdownList li:hover{
  background-color: var(--content-background-color);
}

.delete{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: white;
  padding:1.5rem;
  border: 3px solid var(--primary-color);
}

.deleteTitle{
  margin-bottom: 1rem;
}

.deleteTitle h2{
  text-align: center;
  font-size: 1.5rem;
}

.deleteButtons{
  display: flex;
  justify-content: center;
}

.deleteButton{
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteContent{
  padding:0.5rem 1rem;
  border: 1px solid var(--negative-color);
  border-radius: 10px;
  color: var(--negative-color);
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 2rem;
}

.GoBackToContent{
  padding:0.5rem 1rem;
  border: 1px solid var(--content-border-color);
  border-radius: 10px;
  color: var(--content-border-color);
  margin-left: 2rem;
  margin-right: 2rem;
}