.main{
  position: relative;
}

.filter{
  display: flex;
  border-bottom: 3rem solid var(--content-background-color);
}

.filterContainer{
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: -2rem;
}

.filterContainer a{
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.postContainer{
  background-color: var(--content-background-color);
}

.questionCardWrap{
  margin-bottom: 1.5rem;
}

.post{
  padding-top:1rem;
  padding-bottom:1rem;
  margin-bottom: 1rem;
  background-color: var(--content-background-color);
}

.contentLink{
  cursor: pointer;
}

.userInfo{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.userImg{
  width:32px;
  height:32px;
  background-color: gray;
  border-radius: 100%;
}

.userName{
  margin-left: 0.5rem;
  font-size:1.5rem;
  font-weight: bold;
}

.question{
  width:100%;
  margin-bottom: 1rem;
}

.question p{
  width:100%;
  overflow-wrap:break-word;
  word-break: break-word;
}

.subscribe{
  display: flex;
}

.subscribeButton{
  display: flex;
  justify-content: center;
  width:50%;
}

.ask{
  position: fixed;
  bottom:104px;
  right: 24px;
}

.askQuestion{
  padding: 0.5rem 2rem;
  background-color: var(--content-background-color);
  border-radius: var(--border-radius);
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--fluent-background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.noMoreQuestion{
  display: flex;
  height:4rem;
  justify-content: center;
  align-items: center;
  color: var(--content-border-color);
  background-color: var(--fluent-background-color);
}

